* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 32px;
}



input {
    padding: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.error {
    color: red;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form {
    width: 400px;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

.form-group input {
    width: 100%;
}